<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<img src="/손흥민.jpg" alt="손흥민" width="500">
<button type="button" class="btn btn-primary" id="btn-update"> <a href="/son/update">편집요청</a></button>

<!-- 목록 출력 영역 -->
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>이름</th>
        <th>국적</th>
        <th>소속팀</th>
        <th>작성자</th>
        <th>최종수정일</th>
    </tr>
    </thead>
    <tbody id="tbody">

    <tr>
        <td th:text="${info.name}">이름</td>
        <td th:text="${info.nationality}">국적</td>
        <td th:text="${info.team}">소속팀</td>
        <td>홍길동</td>
        <td>2025-04-20 17:20.50</td>
    </tr>

    </tbody>
</table>

</body>
</html>