<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<img src="/손흥민.jpg" alt="손흥민" width="500">
<button type="button" class="btn btn-primary" id="btn-update">저장</button>

<div class="input-name">
    <label for="name"> 이름 </label>
    <input type="text" class="form-control" id="name" value="">
</div>

<div class="input-nationality">
    <label for="nationality"> 국적 </label>
    <input type="text" class="form-control" id="nationality" value="">
</div>

<div class="input-team">
    <label for="team"> 소속팀 </label>
    <input type="text" class="form-control" id="team" value="">
</div>

<div class="input-time">
    <label for="time"> 최종수정일 </label>
    <input type="text" class="form-control" id="time" value="">
</div>

<!--index.js 추가-->
<script src="/son_update.js"></script>
</body>
</html>